<div class="row g-4 justify-content-center">
    <!-- Toplam Ürün -->
    <div class="col-sm-6 col-lg-5">
        <div class="card bg-dark text-white shadow-sm h-100">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title text-uppercase">Toplam Ürün</h5>
                    <p class="display-5 fw-bold mb-0" id="totalProduct">...</p>
                </div>
                <i class="fas fa-box fa-3x"></i>
            </div>
        </div>
    </div>

    <!-- Düþük Stoklu Ürünler -->
    <div class="col-sm-6 col-lg-5">
        <div class="card bg-warning text-dark shadow-sm h-100">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title text-uppercase">Düþük Stoklu Ürünler</h5>
                    <p class="display-5 fw-bold mb-0" id="lowStockProduct">...</p>
                </div>
                <i class="fas fa-exclamation-triangle fa-3x"></i>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(function () {
            $.get("/api/ProductApi/dashboard-ozet", function (data) {
                $('#totalProduct').text(data.toplamUrun);
                $('#lowStockProduct').text(data.dusukStok);
            });
        });
    </script>
}

